html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.information {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /*  height to 100% to take the full height */
}

.center-text {
  margin-top: 200px;
  margin-bottom: auto;
}

form {
  margin-top: 50px;
  margin-right: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.form input,
.form select {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 13px;
  /* border-color: #2ec4b6; */
}

.form input[type="submit"] {
  width: 100%;
  margin-top: 15px;
  background-color: #2ec4b6;
}

.additional-form-elements {
  grid-column: span 2;
  margin: -20px 20px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

/* Add styles for the p tag */
.additional-form-elements p {
  text-align: center;
  margin: 10px 0;
}

@import url("https://fonts.googleapis.com/css2?family=Sofia+Pro:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Sofia Pro", sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

.additional-form-elements .highlight-word {
  color: #2ec4b6; /* Color for the highlighted word */
  text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  /* Styles for smaller screens */
  .main-content {
    display: grid; /* Grid for content arrangement */
    grid-template-columns: 1fr;
  }

  .additional-content {
    display: none; /* Hide less essential content */
  }

  /* Other adjustments for compact layout */
}

@media (max-width: 768px) {
  /* Styles for medium-sized screens */
  /* Adjust layout and spacing as needed */
}
